body .highlight {
    white-space: pre;
    overflow: auto;
    word-wrap: normal;
    /* horizontal scrolling */

    // -moz-border-radius: 5px;
    // -webkit-border-radius: 5px;
    // border-radius: 5px;
    // padding: 15px;
    // padding-left: 10px;
    // background: #202020;
    color: whitesmoke;
}
body .highlight .hll {
    background-color: #202020
}
body .highlight .c {
    color: #75715e
}
/* Comment */

body .highlight .err {
    color: lime;
    background-color: #1e0010
}
/* Error */

body .highlight .k {
    color: #66d9ef
}
/* Keyword */

body .highlight .l {
    color: #ae81ff
}
/* Literal */

body .highlight .n {
    color: #f8f8f2
}
/* Name */

body .highlight .o {
    color: #f92672
}
/* Operator */

body .highlight .p {
    color: #f8f8f2
}
/* Punctuation */

body .highlight .cm {
    color: #75715e
}
/* Comment.Multiline */

body .highlight .cp {
    color: #75715e
}
/* Comment.Preproc */

body .highlight .c1 {
    color: #75715e
}
/* Comment.Single */

body .highlight .cs {
    color: #75715e
}
/* Comment.Special */

body .highlight .ge {
    font-style: italic
}
/* Generic.Emph */

body .highlight .gs {
    font-weight: bold
}
/* Generic.Strong */

body .highlight .kc {
    color: #66d9ef
}
/* Keyword.Constant */

body .highlight .kd {
    color: #66d9ef
}
/* Keyword.Declaration */

body .highlight .kn {
    color: #f92672
}
/* Keyword.Namespace */

body .highlight .kp {
    color: #66d9ef
}
/* Keyword.Pseudo */

body .highlight .kr {
    color: #66d9ef
}
/* Keyword.Reserved */

body .highlight .kt {
    color: #66d9ef
}
/* Keyword.Type */

body .highlight .ld {
    color: #e6db74
}
/* Literal.Date */

body .highlight .m {
    color: #ae81ff
}
/* Literal.Number */

body .highlight .s {
    color: #e6db74
}
/* Literal.String */

body .highlight .na {
    color: #a6e22e
}
/* Name.Attribute */

body .highlight .nb {
    color: #f8f8f2
}
/* Name.Builtin */

body .highlight .nc {
    color: #a6e22e
}
/* Name.Class */

body .highlight .no {
    color: #66d9ef
}
/* Name.Constant */

body .highlight .nd {
    color: #a6e22e
}
/* Name.Decorator */

body .highlight .ni {
    color: #f8f8f2
}
/* Name.Entity */

body .highlight .ne {
    color: #a6e22e
}
/* Name.Exception */

body .highlight .nf {
    color: #a6e22e
}
/* Name.Function */

body .highlight .nl {
    color: #f8f8f2
}
/* Name.Label */

body .highlight .nn {
    color: #f8f8f2
}
/* Name.Namespace */

body .highlight .nx {
    color: #a6e22e
}
/* Name.Other */

body .highlight .py {
    color: #f8f8f2
}
/* Name.Property */

body .highlight .nt {
    color: #dedede;
}
/* Name.Tag */

body .highlight .nv {
    color: #f8f8f2
}
/* Name.Variable */

body .highlight .ow {
    color: #f92672
}
/* Operator.Word */

body .highlight .w {
    color: #f8f8f2
}
/* Text.Whitespace */

body .highlight .mf {
    color: #ae81ff
}
/* Literal.Number.Float */

body .highlight .mh {
    color: #ae81ff
}
/* Literal.Number.Hex */

body .highlight .mi {
    color: #ae81ff
}
/* Literal.Number.Integer */

body .highlight .mo {
    color: #ae81ff
}
/* Literal.Number.Oct */

body .highlight .sb {
    color: #e6db74
}
/* Literal.String.Backtick */

body .highlight .sc {
    color: #e6db74
}
/* Literal.String.Char */

body .highlight .sd {
    color: #e6db74
}
/* Literal.String.Doc */

body .highlight .s2 {
    color: #e6db74
}
/* Literal.String.Double */

body .highlight .se {
    color: #ae81ff
}
/* Literal.String.Escape */

body .highlight .sh {
    color: #e6db74
}
/* Literal.String.Heredoc */

body .highlight .si {
    color: #e6db74
}
/* Literal.String.Interpol */

body .highlight .sx {
    color: #e6db74
}
/* Literal.String.Other */

body .highlight .sr {
    color: #e6db74
}
/* Literal.String.Regex */

body .highlight .s1 {
    color: #e6db74
}
/* Literal.String.Single */

body .highlight .ss {
    color: #e6db74
}
/* Literal.String.Symbol */

body .highlight .bp {
    color: #f8f8f2
}
/* Name.Builtin.Pseudo */

body .highlight .vc {
    color: #f8f8f2
}
/* Name.Variable.Class */

body .highlight .vg {
    color: #f8f8f2
}
/* Name.Variable.Global */

body .highlight .vi {
    color: #f8f8f2
}
/* Name.Variable.Instance */

body .highlight .il {
    color: #ae81ff
}
/* Literal.Number.Integer.Long */

body .highlight .gh {}
/* Generic Heading & Diff Header */

body .highlight .gu {
    color: #75715e;
}
/* Generic.Subheading & Diff Unified/Comment? */

body .highlight .gd {
    color: #f92672;
}
/* Generic.Deleted & Diff Deleted */

body .highlight .gi {
    color: #a6e22e;
}
/* Generic.Inserted & Diff Inserted */
